
  .hr{
    margin: 10px 0 20px;
  }
.formGroup{
  span{
    min-width: 150px;
    .required{
      color: red;
      margin: 0 5px;
    }
  }
  .inputFormGroup{
    flex: 1;
  }
  display: flex;
}