.navMenu {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  .container {
    width: var(--width);
    padding: 0 15px;
    margin: 0 auto;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
    @media only screen and (max-width: 1170px){
      width: 100%;
   }
    @media only screen and (max-width: 920px){
      width: 100%;
   }
    @media only screen and (max-width: 820px){
      width: 100%;
   }
    @media only screen and (max-width: 768px){
     width: 100%;
  }
    .pathLeft {
      font-weight: 700;
      font-size: 14px;
    }
    .partRight {
     
    }
    .navItem {
      padding: 10px 15px;
      font-size: 14px;  
      @media only screen and (max-width: 415px){
       display: none;
     }
    }



  }

}
.banner {
  width: var(--width);
  padding: 0 15px;
  margin: 15px auto 0;
  img {
    width: 270px;
  }
  @media only screen and (max-width: 820px){
    margin: 0;
    width: 270px;
  }
  @media only screen and (max-width: 920px){
    margin: 0;
    width: 100%;
  }
  @media only screen and (max-width: 1170px){
    margin: 0;
    width: 100%;
  }
}
