.navMenu {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  .container {
    width: var(--width);
    padding: 0 15px;
    margin: 0 auto;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);

    @media only screen and (max-width: 1170px) {
      width: 100%;
    }
    @media only screen and (max-width: 920px) {
      width: 100%;
    }
    @media only screen and (max-width: 820px) {
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    .pathLeft {
      font-weight: 700;
      font-size: 14px;
    }
    .partRight {
    }
    .selectMenu{
      display: none;
    @media only screen and (max-width: 769px) {
    display: block;
     display: flex;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    }
  }
    .navItem {
      padding: 10px 15px;
      font-size: 14px;
      @media only screen and (max-width: 769px) {
        display: none;
      }
      @media only screen and (max-width: 639px) {
        display: none;
      }
      @media only screen and (max-width: 415px) {
        display: none;
      }
    }
  }
}
.listItem{
@media only screen and (max-width: 769px) {
  background-color: #0473aa;
  opacity: 0;
  visibility: hidden;
  height: 0;
  z-index: -1;
  transition: height 1s linear;
  .line{
    border-top: 2px solid #333;
     padding: 10px 0 5px 0;
  }
   .item{
    margin: 0 16px 0 16px;
    cursor: pointer;
    transition: #337ab7 0.2s linear;
    padding: 5px 0;
   }
   .item:hover{
    background-color: #337ab7;
   }
}
}
.banner {
  width: var(--width);
  padding: 0 15px;
  margin: 15px auto 0;
  img {
    width: 270px;
  }
  @media only screen and (max-width: 820px) {
    margin: 0;
    width: 270px;
  }
  @media only screen and (max-width: 920px) {
    margin: 0;
    width: 100%;
  }
  @media only screen and (max-width: 1170px) {
    margin: 0;
    width: 100%;
  }
}
