.notfound{
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20%;
    background-position: center;
}
.notification{
display: flex;
justify-content: center;
margin-bottom: 30px;
}